*{
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 15px 30px;
    padding: 8px;

}

.container{
    background-color: #f2f2f2;
}